{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow p-4" >
        <h1 class="mb-4 text-primary">Get In Touch with us!</h1>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <strong>Call us:</strong>
                <a href="tel:+22220522610" class="btn btn-outline-primary ms-2">+22220522610</a>
            </li>
            <li class="list-group-item">
                <strong>Email:</strong>
                <a href="mailto:24046@gmail.com" class="btn btn-outline-success ms-2">Email</a>
            </li>
            <li class="list-group-item">
                <strong>LinkedIn:</strong>
                <a href="https://www.linkedin.com/in/mokhtar-mahfoudh-01a223310?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank" class="btn btn-outline-info ms-2">LinkedIn</a>
            </li>
            <li class="list-group-item">
                <strong>GitHub:</strong>
                <a href="https://github.com/Mokhta-r" target="_blank" class="btn btn-outline-dark ms-2">Mokhta-r</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}